

@model List<Meal>
@{
    var Restaurants = ViewBag.Resturants as List<Foodies.Models.Restaurant>;
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
    ViewData["Title"] = "Admin Control | Menue";

    ViewData["CustomersActive"] = "";
    ViewData["RestaurantsActive"] = "active";



}


<h1>Restaurant Meals</h1>
<a class="addBtn" asp-controller="Admin" asp-action="AddMeal">Add Meal +</a>
<table class="table text-center">
    <thead>
        <tr>
            <th>Meal Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Restaurant Name</th>
       

            <th>Actions</th>


        </tr>
    </thead>
    <tbody>
        @foreach (var meal in Model)
        {
            <tr>
                <td>@meal.MealName</td>
                <td>@meal.Description</td>
                <td>@meal.Price</td>
                <td>@meal.Menu.Restaurant.Name</td>
             
                <td>
                    <a asp-action="UpdateMeal" asp-controller="Admin" asp-route-id="@meal.Id"><i class="fas fa-edit" title="Edit"></i></a>
                    <a asp-action="DeleteMeal" asp-controller="Admin" asp-route-id="@meal.Id"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>


